body {
    background: #00C9F5;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.red-box {
    background-color: red;
    height: 100px;
    width: 800px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}